@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;400;600&display=swap');

*{
    font-family: 'Montserrat', sans-serif;
    margin:0;
    box-sizing: border-box;
    font-weight: 400;
    overflow-x: hidden;
}
*,*:focus,*:hover{
    outline:none;
}
a{
    text-decoration: none;
}
body::-webkit-scrollbar {
    width: 10px;
    overflow: overlay;
}
   
body::-webkit-scrollbar-track {
    
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
   
body::-webkit-scrollbar-thumb {
    background-color: darkgrey;
    outline: 1px solid slategrey;
}
body::-webkit-scrollbar-thumb:hover {
    transition: 1s;
    background-color: black;
}
header{
    z-index: 201;
    background: black;
    width: 100%;
    color: white;
    top:0;
    position: fixed;
    animation-duration: 2s;
    animation-fill-mode: both;
    background: rgba( 255, 255, 255, 0.20 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 3.0px );
    -webkit-backdrop-filter: blur( 2.0px );
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}
#intro{
    background-color: white;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
    background-size: 100%;
}
.circle{
    width: 200px;
    height: 200px;
    position: fixed;
    background-color: lightgoldenrodyellow ;
    border-radius: 0%;
    animation: moving 15s infinite;
    animation-timing-function: linear;
    color:black;
    display: flex;
    font-size: xx-large;
    justify-content: center;
    align-items: center;
    top:50%;
    left:50%;
    margin-left:-100px;
    margin-top:-100px;
}
#three{
    margin: 0;
    position: static;
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

@keyframes moving{
    from{
        transform: rotateZ(0deg);
    }
    to{
        transform: rotateZ(360deg);
    }
}
#glass{
    margin: auto;
    width: 75%;
    height: 80%;
    background: rgba( 255, 255, 255, 0.20 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 3.0px );
    -webkit-backdrop-filter: blur( 2.0px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    z-index: 200;
    margin-top: 5%;
}
body{
    background-color: #7ee8fa;
    background-image: linear-gradient(0deg, #eec0c6 0%, #7ee8fa 56%);
    overflow: hidden;
}
#nav{
    float: left;
    height: 100%;
    width: 5%;
    overflow: hidden;
    border : none;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top:0;
    left: 0;
    cursor:default;
    background: rgba( 255, 255, 255, 0.20 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 3.0px );
    -webkit-backdrop-filter: blur( 2.0px );
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}
svg{
    fill: rgb(0, 0, 0);
}
#marg{
    width: 10%;
    float: left;
}
#navbar{
    display: flex;
    position: fixed;
    width: 100%;
    height: 0%;
    background-color: transparent;
    animation-duration: 2s;
    animation-fill-mode: both;
    z-index: 400;
    background: rgba( 255, 255, 255, 0.20 );
    backdrop-filter: blur( 3.0px );
    -webkit-backdrop-filter: blur( 2.0px );
}
#X{
    float: right;
    overflow: hidden;
}
@keyframes po{
    from{
        height: 0%;
    }
    to{
        height: 10%;
    }
}
@keyframes oop{
    from{
        margin-top:5%;
    }
    to{
        margin-top:0%;
    }
}
@keyframes poo{
    
    from{
        margin-top:0%;
    }
    to{
        margin-top:5%;
    }
}
@keyframes op{
    from{
        height:10%;
    }
    to{
        height:0%;
    }
}
#nav_but{
    width: 49.5%;
    height: 100%;
    border:none;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.active{
    text-decoration: black;
    background-color: transparent;
}
#name{
    font-weight: 300;
    text-align: center;
    color:black;
}
#pic_cont1{
    width: 100%;
    height:50vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
#pic{
    width: 23vw;
    height: 23vw;
    border-radius: 50%;
    overflow: hidden;
    background-color: white;
}